* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding: 20px 0;
  color: #212322;
}
#header {
  min-height: 100%;
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 75%;
  max-width: 1140px;
  margin: 0 auto;
}
.navigation .button-hamburger {
  display: none;
  float: right;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #858c88;
  border-radius: 2px;
}
@media (max-width: 780px) {
  .navigation .button-hamburger {
    display: block;
  }
}
.navigation .button-hamburger .bar {
  display: block;
  width: 20px;
  height: 4px;
  background: #858c88;
}
.navigation .button-hamburger .bar + .bar {
  margin-top: 4px;
}
.navigation .list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border: 3px dashed #535855;
  background: #212322;
}
@media (max-width: 780px) {
  .navigation .list {
    display: none;
  }
}
.navigation .list.depth-0 {
  text-align: center;
  clear: both;
}
@media (min-width: 780px) {
  .navigation .list.depth-1 {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    text-align: left;
  }
}
@media (max-width: 780px) {
  .navigation .list.depth-1 {
    border: none;
  }
}
.navigation .item.depth-0 {
  position: relative;
}
@media (min-width: 780px) {
  .navigation .item.depth-0 {
    float: left;
    width: 25%;
  }
}
.navigation .item.open .menu.depth-1 {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (min-width: 780px) {
  .navigation .item.open .menu.depth-1 {
    opacity: 1;
  }
}
@media (max-width: 780px) {
  .navigation .item.open .menu.depth-1 {
    display: block;
  }
}
.navigation .link {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  color: #858c88;
  line-height: 50px;
}
@media (min-width: 780px) {
  .navigation .menu.depth-1 {
    opacity: 0;
  }
}
@media (max-width: 780px) {
  .navigation .menu.depth-1 {
    display: none;
  }
}
.title {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  display: block;
  max-width: 400px;
  margin: 200px auto 0;
  color: #858c88;
}
.title:before,
.title:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #212322;
}
#my-lightbox {
  background: #858c88;
}
.list-gallery {
  list-style: none;
  text-align: center;
}
.list-gallery li {
  display: inline-block;
  margin: 0 2%;
  padding: 5px;
  border: 2px dashed #212322;
}
.list-gallery a {
  display: block;
  position: relative;
}
.list-gallery a:before {
  content: '';
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(133, 140, 136, 0.6);
  transition: all 0.3s;
  z-index: 1;
}
.list-gallery a:hover:before {
  opacity: 0;
}
#my-carrousel {
  background: #212322;
}
#my-carrousel-with-navigation {
  background: #3a3d3c;
}
.slider-carrousel,
.slider-main,
.slider-navigation {
  max-width: 800px;
  margin: auto;
}
#my-parrallax {
  height: 100%;
  background: url('/images/parallax/unsplash_52cd2d19237cd_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
