@background: #212322;
@color: lighten(@background, 40%);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 20px 0;
  color: @background;
}

#header {
  min-height: 100%;
  background: url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 75%;
  max-width: 1140px;
  margin: 0 auto;

  .button-hamburger {
    display: none;
    float: right;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid @color;
    border-radius: 2px;

    @media (max-width: 780px) {
      display: block;
    }

    .bar {
      display: block;
      width: 20px;
      height: 4px;
      background: @color;

      + .bar {
        margin-top: 4px;
      }
    }
  }

  .list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: 3px dashed lighten(@background, 20%);
    background: @background;

    @media (max-width: 780px) {
      display: none;
    }

    &.depth-0 {
      text-align: center;
      clear: both;
    }

    &.depth-1 {
      @media (min-width: 780px) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 10px;
        text-align: left;
      }

      @media (max-width: 780px) {
        border: none;
      }
    }
  }

  .item {
    &.depth-0 {
      position: relative;

      @media (min-width: 780px) {
        float: left;
        width: 25%;
      }
    }
  }

  .item.open {
    .menu.depth-1 {
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease;

      @media (min-width: 780px) {
        opacity: 1;
      }

      @media (max-width: 780px) {
        display: block;
      }
    }
  }

  .link {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: @color;
    line-height: 50px;
  }

  .menu.depth-1 {
    @media (min-width: 780px) {
      opacity: 0;
    }

    @media (max-width: 780px) {
      display: none;
    }
  }
}

.title {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  display: block;
  max-width: 400px;
  margin: 200px auto 0;
  color: @color;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: @background;
  }
}

#my-lightbox {
  background: @color;
}

.list-gallery {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 2%;
    padding: 5px;
    border: 2px dashed @background;
  }

  a {
    display: block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      opacity: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(red(@color), green(@color), blue(@color), 60%);
      transition: all 0.3s;
      z-index: 1;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

#my-carrousel {
  background: @background;
}

#my-carrousel-with-navigation {
  background: lighten(@background, 10%);
}

.slider-carrousel,
.slider-main,
.slider-navigation {
  max-width: 800px;
  margin: auto;
}

#my-parrallax {
  height: 100%;
  background: url('/images/parallax/unsplash_52cd2d19237cd_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}